<section class="home">
  <el-row>
    <el-col :xs="24" :sm="10" :md="14" class="left">
      <div class="carousel">
        <el-carousel height="100%" interval="5000" class="carousel_inner">
          <el-carousel-item v-for="item in 4" :key="item">
            <h3 class="small">{{ item }}</h3>
          </el-carousel-item>
        </el-carousel>
      </div>
    </el-col>

    <el-col :sm="14" :md="10" class="right hidden-xs-only">
      <div class="hot_product">
        <span>熱門商品</span>
        <div class="product">
          <div class="title">
            <span>標題</span>
          </div>
            <div class="price"><span>$</span>800</div>
          <div class="description">
            <p>
              商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明
              商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明商品詳細說明
            </p>
          </div>
            <div class="buy">
                <el-button>購買</el-button>
            </div>
        </div>
      </div>
    </el-col>
  </el-row>
</section>
